// Custom styles.

.post-body {
  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .label.r {
    border-radius: .25em
  }

  .label:empty {
    display: none
  }

  a.label {
    color: #fff;
    border-bottom-width: 0
  }

  a.label:focus, a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .label-default {
    background-color: #222
  }

  .label-default[href]:focus, .label-default[href]:hover {
    background-color: #090909
  }

  .label-primary {
    background-color: #2780e3
  }

  .label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #1967be
  }

  .label-success {
    background-color: #3fb618
  }

  .label-success[href]:focus, .label-success[href]:hover {
    background-color: #2f8912
  }

  .label-info {
    background-color: #9954bb
  }

  .label-info[href]:focus, .label-info[href]:hover {
    background-color: #7e3f9d
  }

  .label-warning {
    background-color: #ff7518
  }

  .label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #e45c00
  }

  .label-danger {
    background-color: #ff0039
  }

  .label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #cc002e
  }
}

.post-top-flag {
  color: #fc6423;
  display: inline-block;
  font-size: 18px;
  line-height: 1.8;
  vertical-align: top;
}
